amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
black==24.10.0
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.1.4
django-debug-toolbar==4.4.6
flake8==7.1.1
gunicorn==23.0.0
isort==5.13.2
kombu==5.4.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
prompt_toolkit==3.0.48
psycopg==3.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
python-dateutil==2.9.0.post0
redis==5.2.1
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.8.2
