amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.1.6
django-debug-toolbar==5.0.1
gunicorn==23.0.0
kombu==5.5.0
packaging==24.2
prompt_toolkit==3.0.50
psycopg==3.2.5
python-dateutil==2.9.0.post0
redis==5.2.1
ruff==0.11.1
setuptools==75.8.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
