amqp==5.0.6
appdirs==1.4.4
asgiref==3.4.1
billiard==3.6.4.0
black==20.8b1
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Django==3.2.9
django-redis==5.0.0
flake8==4.0.1
gunicorn==20.1.0
kombu==5.2.0
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
prompt-toolkit==3.0.22
psycopg2==2.9.1
pycodestyle==2.8.0
pyflakes==2.4.0
pytz==2021.3
redis==3.5.3
regex==2021.11.2
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.3.0
